/*
/////////////////////////
///// Changes for Builder
///////////////////////
*/

#forwardSettingContainer input[type="text"] {
    height: 30px;
}
#wpfooter{
  display: none;
}
#webform_builder{
  padding: 0;
}

.accordianbar i.search {
    height: 26px;
}
.accordianbar div.search a.search {
    top: 1px;
}

.csvg{
    display: none;
    left: 50%;
    margin-left: -46px;
    padding: 5px 10px;
    position: fixed;
    top: 40px;
    z-index: 99999;
}
.pickkeywordswrap{
  background: #f8fdff none repeat scroll 0 0;
    height: 35px;
    position: absolute;
    right: 0;
    top: 3px;
    width: 25px;
    cursor: pointer;
}
.pickkeywords {
    right: 7px;
}

.ui-dialog .ui-dialog-buttonpane {
    bottom: 0;
    /*position: absolute;*/
}

.formoverlay .spinnerloading {
    animation: 0.6s linear 0s normal none infinite running rotation;
    border-color: rgba(0, 174, 239, 0.8) rgba(0, 174, 239, 0.15) rgba(0, 174, 239, 0.15);
    border-radius: 100%;
    border-style: solid;
    border-width: 3px;
    height: 60px;
    left: 50%;
    margin: -33px 0 0 -33px;
    position: absolute;
    top: 50%;
    width: 60px;
}
@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(359deg);
}
}
@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(359deg);
}
}
.formoverlay {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    border-radius: 2px;
    height: 98%;
    left: 0;
    position: absolute;
    top: 0;
    width: 98%;
    z-index: 999;
}
.formoverlay p {
    font-size: 16px;
    left: 0;
    margin-top: -30px;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 100%;
}
.has-error{
	position: relative;
}
.has-error > input{
	border: 1px solid #D54E21;
}
.has-error .tooltip::before {
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(0, 0, 0, 0.6);
    border-top: 5px solid transparent;
    content: "";
    display: inline-block !important;
    position: relative;
		left: -10px;
    top: 2px;

}
.has-error .tooltip {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    color: #fff;
    display: inline-block !important;
    font-size: 10px;
    line-height: 1;
    padding: 5px;
    position: relative;
    right: 0px;
    text-transform: capitalize;
    top: 0px;
    width: 150px;
		opacity: 1;
		margin-left: 10px;
}
.response-error{
		position: fixed;
    top: 31px;
    width: 83.8%;
    z-index: 99;
}
#wpf-logout{
	background: #f71a1a none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    float: right;
    margin-bottom: 0;
    margin-left: 15px;
    margin-top: -2px;
    padding: 5px 10px;
		transition-duration: 0.05s;
    transition-property: border, background, color;
    transition-timing-function: ease-in-out;
}
#wpf-logout:hover{
	background: #BF2525;
}
#postbox-container-1{
	display: none !important;
}
#adminmenu .current .wp-menu-image img {
    opacity: 1;
}
